.app {
  position: relative;
  perspective: 500px;
  background-color: #ddde;
  position: fixed;
  top: 50%;
  transform: translate(0%, -50%);
  width: 80vmin;
  max-height: 100vh;
  // height: 50vmin;
  right: 10%;
  transition: 600ms ease-in-out;
  box-shadow: 0 0 80px #111;
  // padding: 0.5rem 2rem;
  box-sizing: border-box;
  display: grid;
  // grid-template-rows: 20px auto 20px;
  margin: 0;
  padding: 0;

  @media (max-width: 1042px) {
    width: 60vmin;
    height: 60vmin;
  }
  & > div {
    overflow: auto;
  }
  & > button {
    margin: 0.5rem;
  }
}
