@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("css/wrap/wrap.css");
@import url("css/app/app.css");
@import url("css/item/item.css");
@font-face {
  font-family: "Meamury";
  src: url("/src/18928.ttf");
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  & > .hiddenUp {
    top: -40vmax;
    opacity: 0;
  }
  & > .hiddenDown {
    top: 140vh;
    opacity: 0;
  }
}

.green {
  background: radial-gradient(#eee7 10%, #eee 80%);
  color: black;
  text-shadow: 0 0 5px #888;
}
.blue {
  background: radial-gradient(#0007 10%, #222 80%);
  color: white;
  text-shadow: 0 0 5px #888;
}

button {
  background-color: #fff0;
  border: none;
  cursor: pointer;
  color: inherit;
  font-size: 1.5rem;

  &.down {
    transform: rotate(180deg);
  }
  &:focus {
    border: none;
    outline: none;
  }
}
img {
  width: 100%;
  object-fit: cover;
  background-color: #eee;
}

@keyframes rotateFlag {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
